

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ALPHA 0

#define NAV   1
#define CODE  2
#define MEDIA 3

#define NUM   4
#define SPEC  5
#define FN    6


/ {
	keymap {
		compatible = "zmk,keymap";
		alpha_layer {
			bindings = <
	&none   &kp Q &kp W &kp F &kp P &kp B                                                &kp J &kp L  &kp U     &kp Y   &kp SINGLE_QUOTE      &none
	&none   &kp A &kp R &kp S &kp T &kp G                                                &kp M &kp N  &kp E     &kp I   &kp O      &none
	&none   &kp Z &kp X &kp C &kp D &kp V &none &none                        &none &none &kp K &kp H  &kp COMMA &kp DOT &kp FSLH   &none
	                 &none &none &lt FN ESC &lt NUM SPACE &lt SPEC TAB        &lt CODE RET  &lt NAV BSPC  &lt MEDIA DEL &none &none
			>;
		};
	};
};
