

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ALPHA 0

#define NAV   1
#define CODE  2
#define MEDIA 3

#define NUM   4
#define SPEC  5
#define FN    6


/ {
	behaviors {
         ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_POSITIONAL_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };
	keymap {
		compatible = "zmk,keymap";
		alpha_layer {
			bindings = <
	&none   &kp Q &kp W &kp F &kp P &kp B                                                &kp J &kp L  &kp U     &kp Y   &kp SINGLE_QUOTE      &none
	&none   &kp A &kp R &kp S &ht LSFT T &kp G                                                &kp M &ht RSFT N  &kp E     &kp I   &kp O      &none
	&none   &kp Z &kp X &kp C &kp D &kp V &none &none                        &none &none &kp K &kp H  &kp COMMA &kp DOT &kp FSLH   &none
	                 &none &none &lt FN ESC &lt NUM SPACE &lt SPEC TAB        &lt CODE RET  &lt NAV BSPC  &lt MEDIA DEL &none &none
			>;
		};
		code_layer {
			bindings = <
	&none   &kp PG_UP &kp HOME &kp UP &kp END &none                                                &none &none  &none     &none   &none      &none
	&none   &kp PAGE_DOWN &kp LEFT &kp DOWN &kp RIGHT &none                                                &none &none  &none     &none   &none      &none
	&none   &none &none &kp INS &none &none &none &none                        &none &none &none &none  &none &none &none   &none
	                 &none &none &none &none &none        &none  &lt NAV BSPC  &none &none &none
			>;
		};

	};
};
